.contacts {
    font-family: 'Inter-Regular';
    color: var(--main-text-color);
    max-width: 1200px;
    height: 730px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.con_osn {
    max-width: 2340px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big {
    font-size: 40px;
}

.cla {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 172px;
}

.mini_orange {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    width: 400px;
    height: 338px;
    border-radius: 10px;
    background-color: var(--second-bg-color);
}

.mini_div {
    margin-bottom: 30px;
}

.mini_div h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.mem2 {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: end;
}

.cont_inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_mail {
    display: flex;
    justify-content: space-between;
}

.name,.mail{
    display: flex;
    flex-direction: column;
    max-width: 335px;
    height: 95px;
}

.name {
    max-width: 335px;
}

.mail {
    max-width: 335px;
}

.mass_mem{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    width: 479px;
    margin-top: 70px;
}

.umen {
    font-size: 12px;
}

.umen span {
    color: #1664EA;
    text-decoration: underline;
}

.btsq {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 335px;
    background-color: var(--main-bg-color);
}

.mass_bord {
    background-color: var(--main-bg-color);
    width: 700px;
    height: 103px;
    border-radius: 7px;
}

.mass {
    width: 700px;
}

.btn_mass {
    background-color: #1664EA;
    width: 130px;
    height: 52px;
    border-radius: 5px;
    border: none;
    gap: 10px;
    color:  #FFFFFF;
    size: 20px;
}