.exp {
    font-family: 'Inter-Regular';
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.exp h2 { 
    font-size: 40px;
}

.SomeExp h2 {
    font-size: 100px;
    margin: 0px;
}
.exp h4 {
    font-size: 20px;
}

.SomeExp {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 590px);
    grid-template-rows: repeat(2, 338px);
    gap: 10px;
    padding-bottom: 80px;
}

.some1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    max-width: 590px;
    height: 338px;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.some2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    max-width: 590px;
    height: 338px;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.some3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    max-width: 590px;
    height: 338px;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.some4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    max-width: 590px;
    height: 338px;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.SomeExp h2 {
        color: var(--black-blue);
}