footer {
    font-family: 'Inter-Regular';
    background-color: var(--main-black-color);
    color: var(--main-bg-color);
    max-width: 100%;
    height: 354px; 
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #404040;
}

footer ul {
    margin-top: 80px;
}

footer h4 {
    color: #ffffff;
    font-size: 14px;
    opacity: 40%;
}

footer p {
    color: #ffffff;
    font-size: 10px;
    opacity: 25%;
    max-width: 252px;
    height: 28px;
    white-space: pre;
}

footer a {
    color: var(--back-color);
    text-decoration: none;
}