.osn {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter-Regular';
    color: var(--main-text-color);
}

.osn h2 {
    font-size: 40px;
}

.I {
    max-width: max-content;
    height: 44px;
}

.mem {
    width: 40%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.keqing {
    width: 307px;
    height: 225px;
    border-radius: 2px;
    opacity: 1;
    margin-bottom: 80px;
}

.keqing ul {
    padding: 0px;
    margin: 0px;
}

.keqing ul li {
    width: 60px;
    height: 37px;
    border-radius: 2px;
    margin: 3px;
    padding: 10px;
    background-color: var(--skills-color);
    color: white;
    gap: 10px;
    list-style: none;
    width: max-content;
    display: inline-block;
    font-size: 14px;
}

.proces p {
    font-family: "Inter-Regular";
    margin-top: 20px;
    margin-bottom: 2px;
}

.rab3 {
    position: relative;
    width: 400px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.rab4 {
    position: relative;
    height: 100%;
    background-color:var(--black-blue);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.rab {
    position: relative;
    width: 400px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.rab2 {
    position: relative;
    height: 100%;
    background-color: var(--black-blue);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.est {
    position: relative;
    width: 400px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.barbara {
    position: relative;
    height: 100%;
    background-color: var(--black-blue);
    border-radius: 10px;
    transition: width 0.3s ease;
}