.grid-container{
    display: grid;
    border: 2px solid red;
    padding: 1rem;
    row-gap: 1rem ;
    column-gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
}
.grid-item{
    background-color: rgb(137, 194, 149);
    padding: 1rem;

}
/* .header{    
    grid-area: header;
}
.sidebar{
    grid-area:sidebar
}
.main{
    grid-area: main;
} */
 .gc2{
    grid-template-columns: repeat(auto-fit, minmax(142,1fr));
 }