#DaDa {
    width: 350px;
    height: 460px;
    padding-left: 40px;
    padding-top: 40px;
    background-image: url(/Practice\ 1/FOTO.png);
    border-radius: 10px;
    box-sizing: border-box;
}

#ok {
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    width:130px;
    height:12px;
}

#ok2 {
    color: rgb(250, 250, 250);
    font-size: 38px;
    margin-bottom: 180px;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: rgb(102, 255, 0);
    width: 126px;
    height: 44px;
    border-radius: 5px;
    border-color: transparent;
    letter-spacing: 1px;
    font-weight: bold;
    
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
}