:root{
    --bg-color: rgb(187, 179, 179);
    --text-color: rgb(43, 43, 107);
    --card-bg: #fff ;

}

/* [data-theme="dark"] {
    --bg-color: rgb(31, 15, 46);
    --text-color: rgb(255, 255, 255);
    --card-bg: #000000 ;   
} */
 #theme-switch:checked ~ .theme-example {
    --bg-color: rgb(31, 15, 46);
    --text-color: rgb(255, 255, 255);
    --card-bg: #000000 ;   
}

body {
    background-color: var(--bg-color);
}

.theme-example {
    background-color: var(--card-bg);
color: var(--text-color);
padding: 20px;
border-radius: 7px;
}

label {
    font-size: 42px;
}



#theme-switch{
    display: none;
}