@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-VariableFont_opsz\,wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-VariableFont_opsz_wght.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter-VariableFont_opsz\,wght.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter-VariableFont_opsz_wght.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}