.flex-container{
    display: flex;
    align-items: stretch;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid red;

}


.flex-item{
    width: 150px;
    background-color: rgb(50, 50, 95);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

/* .shrink{
    background-color: blueviolet;
    flex-shrink: 0;
} */
 .grow{
    flex-grow: 2;

 }
 .flex{
    background-color: rgb(58, 10, 102);
    flex:1 3 200px;
    order: -1;
 }